{% extends 'base.html.twig' %}

{% block title %}Workers{% endblock %}

{% block body %}


<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100">
        <!-- Information Section -->
        <div class="col-md-6 ">
            <h2 class="mb-4 fw-bold display-6 ">{{ worker.firstname }} {{ worker.lastname }}</h2>
            <p class="mb-4"><strong>City :</strong> {{ worker.city }}</p>
            <p class="mb-4"><strong>Diagnostic Price :</strong> {{ worker.prise }} euro</p>
            <p class="mb-4"><strong>Experience :</strong> {{ worker.experience }} Ans</p>
            <p class="mb-4"><strong>Number Phone :</strong> {{ worker.numberPhone }}</p>
        </div>

        <!-- Image Section -->
        <div class="col-md-6 text-center">
            <img src="{{ worker.photo }}" class="img-fluid" alt="{{ worker.firstname }} {{ worker.lastname }}" style="max-width: auto; height: 500px;">
        </div>
    </div>
</div>

{% endblock %}
